.header {
    background-color: $light-pink;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    color: $dark-pink;
    border: 1px solid $dark-red;

    &__logout {
        display: inline;
    }
}